{{ form_start(articleForm) }}
    {{ form_row(articleForm.title, {
        label: 'Article title'
    }) }}
    {{ form_row(articleForm.author) }}
    {{ form_row(articleForm.content) }}
    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt) }}
    {% endif %}

    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}