{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Edit the Article! 🚀</h1>

    {{ form_start(articleForm) }}
        {{ form_row(articleForm.title, {
            label: 'Article title'
        }) }}
        {{ form_row(articleForm.author) }}
        {{ form_row(articleForm.content) }}
        {{ form_row(articleForm.publishedAt) }}

        <button type="submit" class="btn btn-primary">Update!</button>
    {{ form_end(articleForm) }}
{% endblock %}
