{% extends 'content_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/algolia-autocomplete.js') }}"></script>
    <script src="{{ asset('js/admin_article_form.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/algolia-autocomplete.css') }}">
{% endblock %}

{% block content_body %}
    <h1>Launch a new Article! 🚀</h1>

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Create!'
    }) }}
{% endblock %}
