{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Launch a new Article! 🚀</h1>

    {{ form_start(articleForm) }}
        {{ form_row(articleForm.title) }}
        {{ form_row(articleForm.author) }}
        {{ form_row(articleForm.content) }}
        {{ form_row(articleForm.publishedAt) }}

        <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(articleForm) }}
{% endblock %}
